/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face{
  font-family: 'space-mono';
  src:url('../src/assets/fonts/SpaceMono-Regular_1.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face{
  font-family: 'space-mono';
  src:url('../src/assets/fonts/SpaceMono-BoldItalic_1.woff') format('woff');

  font-style: italic;
  font-weight: 700;
}

@font-face{
  font-family: 'space-mono';
  src:url('../src/assets/fonts/SpaceMono-Italic_1.woff') format('woff');
  font-style: italic;
  font-weight: 400;
}

@font-face{
  font-family: 'space-mono';
  src:url('../src/assets/fonts/SpaceMono-Bold_1.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

html,body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body{
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  font-family: space-mono;
}

:root{
  --PN-one: #2E3440;
  --PN-two:#3B4252;
  --PN-three:#434C5E;
  --PN-four:#4C566A;

  --SS-one: #D8DEE9;
  --SS-two:#E5E950;
  --SS-three: #ECEFF4;

  --Frost-one: #8FBCBB;
  --Frost-two: #88C0D0;
  --Frost-three: #81A1C1;
  --Frost-four: #5E81AC;

  --Aurora-one: #BF616A;
  --Aurora-two:#D08770;
  --Aurora-three: #EBCB8B;
  --Aurora-four: #A3BE8C;
  --Aurora-five:#B48EAD;
}
#main-container{
  background-color: var(--PN-two);
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
  color: var(--SS-three);
}


/* texts */
h1#title-text{
  color: var(--SS-three);
  text-align: center;
  font-weight: bold;
  font-size: 5rem;
}


#outer-selection-grid-cont > h3{
font-size: 3rem;
}
#side-bar-dock > h3{
font-size: 3rem;
}

#outer-selection-grid-cont > h3, #side-bar-dock > h3{
  font-weight: bold;
  color: var(--SS-one);
}

#start-menu{
  display: flex;
  gap: 15px;
  flex-direction:column ;
}

.start-menu-btn{
  font-size: 2rem;
  font-family: space-mono ;
  appearance: none;
  cursor: pointer;
  background-color: rgb(0, 0,0,0 );
  color: var(--SS-three);
  border-radius: 10px;
  border: 3px solid var(--PN-one);
  transition: background-color 150ms ease-in-out;
  transition:box-shadow 150ms ease-in-out;
  /* transition: color 150ms ease-in-out; */
}

.start-menu-btn:hover{
  color: var(--Aurora-three);
  background-color: var(--PN-four);
  box-shadow: 0px 10px 10px 2px rgb(0, 0,0,0.4 );
}

.start-btn-cont{
  display: flex;
  gap: 20px;
}

.gates{
  position: absolute;
  z-index: 999;
  width: 50vw;
  height: 100vh;
  background-color: var(--PN-one);
  box-shadow:rgb(0, 0,0,0.6 );
}
#gate-left{
  box-shadow: 5px 0px 10px rgb(0, 0,0,0.6 );
}
#gate-right{
  box-shadow: -5px 0px 10px rgb(0, 0,0,0.6 );
}
@keyframes close-left{
  0%{
   left: -60%;
  }
  100%{
    left: 0%;
  } 
}
@keyframes close-right{
 0%{
    right: -60%;
  }
  100%{
    right: 0%;
  }

}

.right-closing{
  animation-name: close-right;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
.left-closing{
  animation-name: close-left;
  animation-duration: 700ms;
  animation-fill-mode:forwards;
  animation-timing-function: ease;
}

.right-closed{
    right: 0%;
}

.left-closed{
    left: 0%;
}

.right-open{
  right: -60%;
}

.left-open{
  left:-60% ;
}


@keyframes open-left{
  0%{
   left: 0%;
  }
  100%{
    left: -60%;
  } 
}
@keyframes open-right{
 0%{
    right: 0%;
  }
  100%{
    right: -60%;
  }

}
.right-opening{
  animation-name: open-right;
  animation-duration: 800ms;
  animation-fill-mode:forwards;
  animation-timing-function: ease-in-out;
}

.left-opening{
  animation-name: open-left;
  animation-duration: 800ms;
  animation-fill-mode:forwards;
  animation-timing-function: ease-in-out;
}


#selection-container  {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
}

#player-grid-cont,#ai-grid-cont {
  display: grid;
	grid-template-columns: repeat(10,1fr);
	grid-template-rows: repeat(10, 1fr);
	border-radius: 6px;
	width: 600px;
	height: 600px;
  gap: 2px;
}
 
.grids{
  cursor: pointer;
  border: 1px solid #141C2C;
  background-color: var(--PN-four);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 150ms ease-in;
}
.grids:hover{
  border: 1px solid var(--Aurora-two);
}

#outer-selection-grid-cont{ 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 2.5em;
}

#dock-container{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items:center;
  gap: 30px;

}

#side-bar-dock{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--PN-one);
  min-height: fit-content;
  width: 40%;
  padding: 3em 2em 3em 2em;
  box-shadow: -2px 0px 10px rgb(0, 0,0,0.6 );
  gap: 4.5em;
}
.dock,.empty-docks{
  display: flex;
  justify-content: left;
  align-self: flex-start;
  gap: 2px;
  max-width: fit-content;
}

@keyframes dock-anim{
  0%{ transform: translate(0px);}
  25%{transform: translate(-10px);}
  50%{ transform: translate(10px);}
  75%{ transform: translate(-10px);}
  100%{transform: translate(0px);}
}
.dock{
  border: 2px dashed rgb(0, 0,0,0 );
  box-shadow: 0px 5px 10px rgb(0, 0,0,0.2 );
}
.dock:hover{
  animation-name: dock-anim;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 1000ms;
  cursor: pointer;
  animation-iteration-count: infinite;
  transition: box-shadow 250ms ease-in-out;
  box-shadow: 0px 15px 15px rgb(0, 0,0,0.4 );
}

.empty-docks{
  border: 2px dashed rgb(0, 0,0,0 );
}

.ship-cell{
  border:2px solid var(--Frost-two);
  background-color: var(--Frost-four);

}
.ship-cell,.destroyed-cell{
  padding: 1.4em;
  border-radius: 4px;
}

.destroyed-cell{
  border:2px solid var(--PN-one) !important;
  background-color: var(--Aurora-one) !important;

}

.occupied{
  /* border: 2px solid var(--Aurora-two); */
}
.empty-dock-cell{
  padding: 1.4em;
  border-radius: 4px;
  border: 2px dashed var(--Aurora-two); 
  box-shadow: 0px 15px 15px rgb(0, 0,0,0.3 );
}



#ready-btn{
  appearance: none;
  font-size: 2rem;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: .3em 2em .3em 2em;
  cursor:pointer;
  font-family: space-mono;
  font-weight: bold;
  background-color: white;
  transition: background-color 250ms linear;
}
#ready-btn:hover{
  background-color: rgb(255, 255, 255,.5);
}



#game-scene{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#players-grid-container{
  margin-top: 5em;
  display: flex;
  gap: 5em;
}

#bg-end{
  display: flex;
  position: absolute;
  background-color: rgb(0, 0,0,.5);
  min-height: 100%;
  min-width: 100%;
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

#modal-cont{
  display: flex;
  flex-direction: column;
  min-height: 250px;
  min-width: 600;
  background-color: var(--SS-one);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 50px;
  padding: 1.4em 2em 1.4em 2em;
  box-shadow: 0px 5px 5px rgb(0, 0,0,0.6 );
}

#winner{
  font-weight: bold;
  font-size: 3rem;
  color: var(--PN-one);
  display: block;
}
#play-btn{
  appearance: none;
  border: 1px solid var(--PN-four);
  outline: none;
  background-color: var(--Aurora-two);
  color: var(--PN-one);
  font-family: 'space-mono';
  font-size: 3rem;
  padding: .3em 1em .3em 1em;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 150ms ease-in;
} 

#play-btn:hover{
  box-shadow: 0px 10px 10px rgb(0, 0,0,0.6 );
}
.AI-ship-cell{
  background-color: var(--PN-four) ;
  border: none;
}
